* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
html body {
  font-family: "Inter", sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}
header span {
  padding-top: 0.8rem;
  font-weight: 500;
  line-height: 2.4rem;
  font-size: 2rem;
}
.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container form .inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container form .inputContainer label {
  margin-bottom: 0.8rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
}
.container form .inputContainer input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1.6rem;
  width: 52rem;
  height: 4.9rem;
  border: 1px solid #5c73db;
  border-radius: 1.2rem;
  margin-bottom: 1.2rem;
}
.container form a {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  color: #5c73db;
}
.container .btn {
  background-color: #5c73db;
  height: 4.8rem;
  width: 52rem;
  border-radius: 1.2rem;
  border: none;
  font-size: 1.8rem;
  line-height: 2.2rem;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.container .btn:hover {
  filter: brightness(0.9);
}
.container form span {
  margin-bottom: 1rem;
}
.container form span .obrigatorio {
  color: red;
}
.container form .footer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.container form .footer p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: black;
}
.container form .footer a {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #5c73db;
}
